:root {
  /* Colour */
  --colour-black: #2b292d;
  --colour-grey: #7b7b7e;
  --colour-grey-light: #f4f5f7;
  --colour-blue-light: #f2f8fa;

  --colour-primary: #3040c4;
  --colour-green: #009b4d;
  --colour-blue: #0189d1;

  /* Margin */
  --margin-xs: 8px;
  --margin-sm: 16px;
  --margin-md: 24px;
  --margin-ml: 32px;
  --margin-lg: 40px;
  --margin-xl: 48px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
button {
  border: none;
  outline: none;
  font-family: 'DM Sans', sans-serif;
}

li {
  list-style-type: none;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  letter-spacing: -0.01em;
  color: var(--colour-black);
}

p {
  font-size: 16px;
  line-height: 1.5;
}

section {
  padding: 80px 0;
}

/* ====== Heading Style ====== */
.heading-2 {
  margin-bottom: var(--margin-md);
  font-size: 34px;
  line-height: 1.0588235294;
  letter-spacing: -0.03em;
}

.heading-3 {
  margin-bottom: var(--margin-sm);
  font-size: 22px;
  line-height: 1.3636363636;
  letter-spacing: -0.04em;
}

.section-category {
  display: block;
  margin-bottom: var(--margin-xs);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
}

/* ====== Button Style ====== */
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 48px;
  padding: 16px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: -0.05em;
  color: #fff;
  cursor: pointer;
  background-color: var(--colour-primary);
  transition: background-color 0.25s ease-in-out;
}

.btn:hover {
  background-color: #6773da;
}

.inverted {
  color: var(--colour-primary);
  background-color: #fff;
}

.inverted:hover {
  color: #fff;
  background-color: var(--colour-primary);
}

.btn-wrapper .btn:first-child {
  margin-right: var(--margin-xs);
}

/* ====== Hero ====== */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-color: #fdded8;
}

.hero-title {
  margin-bottom: var(--margin-md);
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.05em;
}

.hero p {
  margin-bottom: var(--margin-md);
}
